{
  "Comment": "Update the router settings",
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "{{DOMAIN_NAME}}",
        {% if DOMAIN_CNAME is defined %}"Type": "CNAME"{% else %}"Type": "A"{% endif %},
        "SetIdentifier": "{{DOMAIN_NAME}}",
        "TTL": {{dns_ttl}},
        "Region": "{{AWS_REGION.stdout}}",
        "ResourceRecords": [
          {
            "Value": "{% if DOMAIN_CNAME is defined %}{{DOMAIN_CNAME}}{% else %}{{HOST_IP_STR}}{% endif %}"
          }
        ]
      }
    }
  ]
}
