{
  "Comment": "Update the {{BALANCED_ROLE}} settings",
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "{{BALANCED_ROLE}}.{{API_ZONE_NAME.stdout}}",
        "Type": "A",
        "SetIdentifier": "{{BALANCED_ROLE}}.{{API_ZONE_NAME.stdout}}",
        "TTL": {{dns_ttl}},
        "Region": "{{AWS_REGION.stdout}}",
        "ResourceRecords": [
          {% for balanced_ip in BALANCED_IPS.stdout_lines %}
          {
            "Value": "{{balanced_ip}}"
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    }
  ]
}
