[submodule "load-balancer/third-party/rapidjson"]
	path = load-balancer/third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "load-balancer/third-party/depot_tools"]
	path = load-balancer/third-party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools
[submodule "load-balancer/third-party/clang-format"]
	path = load-balancer/third-party/clang-format
	url = https://github.com/angular/clang-format.git
[submodule "load-balancer/third-party/cpp-core-guidelines"]
	path = load-balancer/third-party/cpp-core-guidelines
	url = https://github.com/isocpp/CppCoreGuidelines.git
[submodule "configuration-app/third-party/tarballjs"]
	path = configuration-app/third-party/tarballjs
	url = https://github.com/ankitrohatgi/tarballjs.git
[submodule "configuration-app/third-party/glm-js"]
	path = configuration-app/third-party/glm-js
	url = https://github.com/humbletim/glm-js.git
[submodule "configuration-app/third-party/eventemitter3"]
	path = configuration-app/third-party/eventemitter3
	url = https://github.com/primus/eventemitter3.git
[submodule "load-balancer/third-party/nginx"]
	path = load-balancer/third-party/nginx
	url = https://github.com/nginx/nginx.git
