{
  "Comment": "Update the router settings",
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "router.{{API_ZONE_NAME.stdout}}",
        "Type": "A",
        "SetIdentifier": "router.{{API_ZONE_NAME.stdout}}",
        "TTL": {{dns_ttl}},
        "Region": "{{AWS_REGION.stdout}}",
        "ResourceRecords": [
          {% for router_ip in ROUTER_IPS.stdout_lines %}
          {
            "Value": "{{router_ip}}"
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    }
  ]
}
